body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* My Custom CSS */

.header {
  min-height: 100vh;
}

.name {
  font-size: 50px;
}

.highlight {
  color: rgb(50, 190, 160);
}

.profile-picture {
  box-shadow: 3px 3px 10px 2px rgba(100, 100, 100, 0.5);
  max-width: 25rem;
  display: block;
  width: auto;
  height: auto;
}

.card {
  background-color: #ffffff06;
}

.social-buttons a {
  color: #ffffff;
  background-color: rgb(50, 190, 160);
  border-color: rgb(50, 190, 160);
  width: 3.25rem;
  height: 3.25rem;
  border-radius: 0.5rem;
  margin-right: 1rem;
  transition: transform 250ms;
  display: inline-block;
  text-align: center;
  justify-content: center;
  align-items: center;
  line-height: 3.75rem;
}

.last-social-button {
  margin-right: 0 !important;
}

.social-buttons a:hover, a:active {
  transform: scale(1.1);
  color:#ffffff;
}

.gray {
  color: #bbb;
}

/* Skills */

.skills-container {
  display: flex;
  flex-wrap: wrap;
  row-gap: 2rem;
  justify-content: center;
}

.skill-item {
  display: flex;
  align-items: center;
  flex-direction: column;
}

/* Experience */

.experience-card {
  position: relative;
}

.experience-card-header {
  margin-right: 4rem;
}

.experience-image {
  position: absolute;
  top: 16px;
  right: 28px;
  width: 3.5rem;
  height: 3.5rem;
  object-fit: cover;
  border-radius: 0.375rem;
}

/* Project Cards */

.clickable {
  cursor: pointer;
  transition-duration: 300ms;
}

.clickable:hover {
  transform: scale(1.025);
}

.project-card img {
  height: 14rem;
  width: 100%;
  object-fit: cover;
  border-radius: var(--bs-card-border-radius) var(--bs-card-border-radius) 0 0;
}

/* Project Details */

.project-details {
  position: fixed;
  top: 10%;
  left: 10%;
  width: 80%;
  height: 80%;
  background-color: #1d1d20;
  box-shadow: 0px 0px 10px 2px #1d1d20;
  border-radius: 5px;
}